page{
	height: 100%;
	font-size: 28upx;
	line-height: 1.8;
	background:#FFFFFF;
}
image{
	width: 100%;
}


/* 主色调 */
.main-bg-color{ background: #FD6801;}
.main-bg-hover-color{ background-color: rgba(253,104,1,0.85); }
.main-text-color{ color: #FD6801;}
.main-border-color{ border-color: #F1F1F1; }
.input-border-color{ border-color: #FD6801; }

/* 隐藏scrollview滚动条 */
::-webkit-scrollbar {
    display: none;
    width: 0 !important;
    height: 0 !important;
    -webkit-appearance: none;
    background: transparent;
    color: transparent;
  }
	